@import '../utilities/style.scss';


.navbar-container {
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    grid-template-rows: 1fr;
    grid-column: 1/4;
    grid-row: 1;
    background-color: $background;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
}

.button {
    cursor: pointer;
    background-color: #004182;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 3px;
}