@import '../utilities/style.scss';


.bottom-nav-container {
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    grid-template-rows: 1fr;
    grid-column: 1/4;
    grid-row: 4;
    background-color: $background;
}

.button {
    cursor: pointer;
    background-color: #004182;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 3px;
}