@import './components/utilities/style.scss';

@import './components/MainPage/MainPage.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;
  grid-template-rows: 70px auto auto 200px;
  background-color: $primary;
}

.games-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  grid-row: 3;
}

.show-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  min-height: 300px;
  width: 100%;
  border: 1px solid black;

  .img-left {
    grid-column: 1;
    grid-row: 1;
  }

  .text-left {
    grid-column: 2/4;
    grid-row: 1;
  }

  .img-right {
    grid-column: 3;
    grid-row: 1;
  }

  .text-right {
    grid-column: 1/3;
    grid-row: 1;
  }


}

.text {
  color: $primary-text;
}